<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 申请读取所有应用的权限 -->
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="PackageVisibilityPolicy,QueryAllPackagesPermission" />
    <uses-permission android:name="com.android.permission.GET_INSTALLED_APPS" />

    <!-- 申请通知监听服务权限 -->
    <uses-permission
        android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
        tools:ignore="ProtectedPermissions" />


    <application
        android:name=".ManagerAssistant"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ManagerAssistant">
        <activity
            android:name=".ui.bookkeeping.auto_bookkeeping.notification_analysis.package_name_select.PackageNameSelectActivity"
            android:exported="false" />
        <activity
            android:name=".ui.bookkeeping.auto_bookkeeping.notification_analysis.rule_edit.RuleAddModifyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.bookkeeping.auto_bookkeeping.notification_analysis.rule_edit.AnalysisRuleManageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.bookkeeping.tag.edit.GroupModifyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.bookkeeping.tag.edit.TagManageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.bookkeeping.tag.edit.TagAddModifyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.bookkeeping.report.ReportActivity"
            android:exported="false" />
        <activity
            android:name=".ui.bookkeeping.running_account_edit.modify.RunningAccountModifyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.bookkeeping.running_account_edit.new_running_account.RunningAccountAddActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.AutoBookKeepingNotificationListenerService"
            android:exported="true"
            android:label="自动记账通知监听服务"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>

</manifest>