<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="PackageVisibilityPolicy,QueryAllPackagesPermission" />    <!-- 读取应用列表权限 -->
    <uses-permission android:name="com.android.permission.GET_INSTALLED_APPS" />    <!-- 读取应用列表权限 -->
    <uses-permission
        android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
        tools:ignore="ProtectedPermissions" />  <!-- 通知使用权限 -->
    <uses-permission
        android:name="android.permission.REQUEST_INSTALL_PACKAGES"
        tools:ignore="RequestInstallPackagesPolicy" />  <!-- 安装APK权限 -->
    <uses-permission android:name="android.permission.INTERNET" />  <!-- 网络权限 -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />   <!-- 读取外部存储权限 -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />   <!-- 写入外部存储权限 -->
    <uses-permission android:name="android.permission.CAMERA" />    <!-- 相机权限 -->

    <uses-feature android:name="android.hardware.camera.any" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".ManagerAssistant"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ManagerAssistant.Static"
        tools:targetApi="33">
        <activity
            android:name=".ui.pages.picture.FullScreenImageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.picture.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.bookkeeping.notification_analysis.package_name_select.PackageNameSelectActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.bookkeeping.notification_analysis.rule_edit.RuleAddModifyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.bookkeeping.notification_analysis.rule_edit.AnalysisRuleManageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.bookkeeping.tag.GroupModifyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.bookkeeping.tag.TagManageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.bookkeeping.tag.TagAddModifyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.home.report.ReportActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.bookkeeping.running_account.RunningAccountModifyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.bookkeeping.running_account.RunningAccountAddActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".services.AutoBookKeepingNotificationListenerService"
            android:exported="false"
            android:label="自动记账通知监听服务"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>

</manifest>